<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AfcRestApiUrl" value="https://communicationsua.avalara.net" />
    <add key="DefaultUsername" value="" />
    <add key="DefaultPassword" value="" />
    <add key="DefaultClientID" value="" />
    <add key="DefaultProfileID" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
  <runtime>
  </runtime>
</configuration>