/*
 * SaasPro
 * APIs to interface with communications tax engine.<br />The API requires Basic authentication.<br />Users with access to multiple clients must also set request header parameter for <code>client_id</code>.<br />Set <code>client_profile_id</code> to specify profile to be used for taxation.<br /><br />Effective January 1st, 2022 all Avalara products will be enforcing TLS 1.2 server-side. Please ensure that your implementation sets a minimal of TLS 1.2 encryption when making web requests to Avalara APIs.
 *
 * The version of the OpenAPI document: v2
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.ClientProfileConfigResponse;
import org.openapitools.client.model.ClientProfileConfigTypes;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CustomizationApi {
    private ApiClient localVarApiClient;

    public CustomizationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CustomizationApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for apiV2ProfilesGetProfilesGet
     * @param requestedClientId Client id associated with profile(s) to be fetched  Null value will use client id submitting the request or default client id as applicable. (optional)
     * @param requestedProfileId Configuration profile id to be fetched  Use 0 to indicate all profiles  Null value will use profile id from request or 0 if not set. (optional)
     * @param itemType Item Type  Examples:    Configuration, Bundle, Exclusion, Override, All (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2ProfilesGetProfilesGetCall(Integer requestedClientId, Integer requestedProfileId, ClientProfileConfigTypes itemType, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/profiles/GetProfiles";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (requestedClientId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("RequestedClientId", requestedClientId));
        }

        if (requestedProfileId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("RequestedProfileId", requestedProfileId));
        }

        if (itemType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ItemType", itemType));
        }

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2ProfilesGetProfilesGetValidateBeforeCall(Integer requestedClientId, Integer requestedProfileId, ClientProfileConfigTypes itemType, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = apiV2ProfilesGetProfilesGetCall(requestedClientId, requestedProfileId, itemType, _callback);
        return localVarCall;

    }

    /**
     * Retrieves one or more profiles with associated settings and configurable items
     * 
     * @param requestedClientId Client id associated with profile(s) to be fetched  Null value will use client id submitting the request or default client id as applicable. (optional)
     * @param requestedProfileId Configuration profile id to be fetched  Use 0 to indicate all profiles  Null value will use profile id from request or 0 if not set. (optional)
     * @param itemType Item Type  Examples:    Configuration, Bundle, Exclusion, Override, All (optional)
     * @return List&lt;ClientProfileConfigResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
     </table>
     */
    public List<ClientProfileConfigResponse> apiV2ProfilesGetProfilesGet(Integer requestedClientId, Integer requestedProfileId, ClientProfileConfigTypes itemType) throws ApiException {
        ApiResponse<List<ClientProfileConfigResponse>> localVarResp = apiV2ProfilesGetProfilesGetWithHttpInfo(requestedClientId, requestedProfileId, itemType);
        return localVarResp.getData();
    }

    /**
     * Retrieves one or more profiles with associated settings and configurable items
     * 
     * @param requestedClientId Client id associated with profile(s) to be fetched  Null value will use client id submitting the request or default client id as applicable. (optional)
     * @param requestedProfileId Configuration profile id to be fetched  Use 0 to indicate all profiles  Null value will use profile id from request or 0 if not set. (optional)
     * @param itemType Item Type  Examples:    Configuration, Bundle, Exclusion, Override, All (optional)
     * @return ApiResponse&lt;List&lt;ClientProfileConfigResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<ClientProfileConfigResponse>> apiV2ProfilesGetProfilesGetWithHttpInfo(Integer requestedClientId, Integer requestedProfileId, ClientProfileConfigTypes itemType) throws ApiException {
        okhttp3.Call localVarCall = apiV2ProfilesGetProfilesGetValidateBeforeCall(requestedClientId, requestedProfileId, itemType, null);
        Type localVarReturnType = new TypeToken<List<ClientProfileConfigResponse>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Retrieves one or more profiles with associated settings and configurable items (asynchronously)
     * 
     * @param requestedClientId Client id associated with profile(s) to be fetched  Null value will use client id submitting the request or default client id as applicable. (optional)
     * @param requestedProfileId Configuration profile id to be fetched  Use 0 to indicate all profiles  Null value will use profile id from request or 0 if not set. (optional)
     * @param itemType Item Type  Examples:    Configuration, Bundle, Exclusion, Override, All (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2ProfilesGetProfilesGetAsync(Integer requestedClientId, Integer requestedProfileId, ClientProfileConfigTypes itemType, final ApiCallback<List<ClientProfileConfigResponse>> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2ProfilesGetProfilesGetValidateBeforeCall(requestedClientId, requestedProfileId, itemType, _callback);
        Type localVarReturnType = new TypeToken<List<ClientProfileConfigResponse>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
